<% if flash[:success] %>
	<p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<% if current_admin %>
	<h1>ID: <%= current_admin.id %></h1>
	<h1>Welcome <%= current_admin.name %></h1>
<% end %>










